html,
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #00adb5;
}
.icon-section svg {
  width: 100%;
}
