@font-face {
  font-family: "Product Sans Medium";
  src: url("./ProductSansMedium.ttf") format(truetype);
}
@font-face {
  font-family: "Product Sans Bold";
  src: url("./ProductSansBold.ttf") format(truetype);
}
@font-face {
  font-family: "Product Sans";
  src: url("./ProductSans.ttf") format(truetype);
}
